@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Rubik:wght@300&display=swap');

html,
body {
  margin: 0;
  font-family: "Shippori Antique B1", sans-serif;
  background-color:whitesmoke;
}
.app {
  display:flex;
  justify-content: center;
}
.posts-container {
  grid-area:posts;
}
.post-container img {
  width: 90%;
  height: auto;
}
.post-container {
  background-color:rgb(233, 233, 233);
  color: #141c3a;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: grid;
  grid-template-areas:
    'score header '
    'score main '
    'score footer ';
    border-style:solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.post-container:hover {
  border-color: rgb(100, 98, 98);
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
}
.post-header { 
  grid-area: header; 
  font-size: 0.8rem;
  width: 500px;
}
.post-main {
  grid-area: main; 
  overflow: hidden;
  }
.post-main h4 {
  margin: 5px;
}
.post-score { 
  grid-area: score;
  background-color: rgb(68, 67, 67);
  width: 50px;
  border-radius: 5px;
  color:white;
 }
.post-footer {
  width: 500px;
  grid-area: footer; 
}
.post-container > div {
  padding:2px;
}

.subreddit-container {
  grid-area: subreddits;
  background-color:rgb(233, 233, 233);
  color: #000000;
  width: 200px;
  border-radius: 5px;
  height: fit-content;
  margin: 10px;
}
.subreddit-container a {
 color: black;
 text-decoration: none;
 padding: 5px;
}
.subreddit-container a:hover {
  color: tomato;
}
.loading {
  width: 967px;
  margin: 5px;
  text-align: center;
}
.header {
  height: 50px;
  display: flex;
  max-width: 100%;
  background-color: #2f2f2f;
}
.header img {
  padding: 5px;
  margin-left: 10px;
  width:40px;
}
.search {
 margin-left: auto;
 margin-right: auto;
 display: flex;
 align-items: center;
}
.search input {
  max-width: 300px;
  padding: 7px;
  border-radius: 5px;
}
.search a {
  margin-left: 5px;
  color:white;
  text-decoration: none;
  background-color: tomato;
  padding: 3px 7px;
  border-radius: 5px;
}
.search a:hover {
  background-color: rgb(180, 33, 6);
}
.comment-btn  {
  background-color:rgb(233, 233, 233);
  text-decoration: none;
  color:black;
  font-size: 0.9rem;
}
.comment-btn:hover {
  color:tomato;
}
.self-text {
  text-align: justify;
  font-size: 0.9rem;
  padding: 5px;
}
.self-text-end {
  background-color: rgb(233, 233, 233);
  background: linear-gradient(rgba(51, 51, 51, 0.938), rgb(233, 233, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9rem;
  text-align: justify;
  padding: 5px;
}
.comments-container {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.comment {
  background-color:rgb(233, 233, 233);
  padding: 5px;
  margin: 10px;
  font-size: 0.9rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
.comment-header {
  font-size: 0.8rem;
  color: #313131;
}
.current-post {
  background-color:rgb(233, 233, 233);
  color: #141c3a;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  display: grid;
  grid-template-areas:
    'score header '
    'score main '
    'score footer ';
    border-style:solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.current-post img {
  width:90%
}
.sort-bar {
display: flex;
grid-area: sort;
background-color: #414141;
width: 600px;
border-radius: 5px;
margin: 10px;
}
.sort-bar a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}
.sort-bar a:hover {
  color:tomato;
}
.red {
  color:tomato;
  padding: 0 5px;
}
.black {
  color:rgb(255, 255, 255);
  padding: 0 5px;
}
.subreddit-info {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: fit-content;
  margin: 10px 0;
  width:300px;
  background-color:rgb(233, 233, 233);
}
.sub-inf {
  margin: 5px;
}
.subreddit-header {
  background-color: tomato;
  color: white;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.subreddit {
  display: flex;
  width: 950px;
  margin: 5px;
}
.subreddit-info div {
  padding: 5px;
}
.communities{
  display: flex;
  flex-direction: column;
  width:600px;
}
.community {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content:left;
  background-color:rgb(233, 233, 233);
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  color: black;
  border-width: 1px;
  border-style:solid;
  border-color: rgb(233, 233, 233);
}
.community:hover {
  border-color: rgb(100, 98, 98);
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
}
.community-icon {
  width: 50px;
  margin: 0 5px;
}
.community-icon img {
  width:40px;
  border-radius: 5px; 
}
.community-members {
  width:fit-content;
  margin: 0 5px;
}
.community-description {
  width:fit-content;
  margin: 0 5px;
}
.community-name {
  width: fit-content;
  margin: 0 5px;
}
.loading-list-communites {
  display: flex;
  flex-direction: column;
}
.next-btn {
  background-color:tomato;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 300px;
}
.loading-comment {
  margin: 10px;
}
.post-num {
  margin: 5px;
}
